<a href="https://colab.research.google.com/github/minhoparkk/code_3rd/blob/main/CTC_7_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.사용자로부터 2개의 값(x,y,z)을 입력받아서 각각 1씩 증가되고, 출력되는 코드작성

In [1]:
x = int(input("x의 값을 입력시키시오"))                           # 사용자로부터 x값을 정수형으로 입력 받습니다.
y = int(input("y의 값을 입력시키시오"))                           # 사용자로부터 y값을 정수형으로 입력 받습니다.
z = int(input("z의 값을 입력시키시오"))                           # 사용자로부터 z값을 정수형으로 입력 받습니다.
x = x + 1                                                         # x값에 1을 더해줍니다.
y = y + 1                                                         # y값에 1을 더해줍니다.
z = z + 1                                                         # z값에 1을 더해줍니다.
print(f'의 값은 {x}이며, y의 값은 {y}이고, {z}의 값은 {z}이다.')  # 각 변수에 1을 더한 후의 값을 출력합니다.

x의 값을 입력시키시오1
y의 값을 입력시키시오2
z의 값을 입력시키시오3
의 값은 2이며, y의 값은 3이고, 4의 값은 4이다.

2. 알바생의 시급과 시간을 계산하여 월급을 출력하는 코드

In [ ]:
hours_worked = int(input("일한 시간을 입력하시오."))                                                 # 사용자로부터 일한 시간을 정수형으로 입력 받습니다.
pay_rate = int(input("시급을 입력하시오(23기준 9620원):"))                                           # 사용자로부터 시급을 정수형으로 입력 받습니다.
monthly_pay = hours_worked * pay_rate                                                                # 월급여를 계산합니다. 일한 시간과 시급을 곱합니다.
print(f'일한시간은 {hours_worked}이고, 시급은 {pay_rate}원이며, 월급여는 {monthly_pay}원 입니다.')   # 일한 시간, 시급, 그리고 계산된 월급여를 출력합니다.

일한 시간을 입력하시오.8
시급을 입력하시오(23기준 9620원):9620
일한시간은 8이고, 시급은 9620원이며, 월급여는 76960원 입니다.

3. 한율계산하는 코드작성
 - 원의 변수는 won
 - 달러의 변수는 usd
 - 환전의 변수는 exchange

In [ ]:
won = int(input("환전할 금액을 입력(kor): "))
usd = int(input("현재 달러의 환율 입력(231031: 1372): "))
exchange = won / usd
print(f'환전할 금액은 {won}이며, 달러 금액은 {usd}이고, 환전금액은 {exchange}입니다.')

환전할 금액을 입력(kor): 5000
현재 달러의 환율 입력(231031: 1372): 1372
환전할 금액은 5000이며, 달러 금액은 1372이고, 환전금액은 3.6443148688046647입니다.

4. 화씨(fahrenheit)를 섭시(celcius)로 변환하는 코드작성

In [ ]:
fahrenheit = int(input("화씨온도를 입력하시오.: "))
celcius = (fahrenheit - 32) // 1.8
print(f'화씨온도는 {fahrenheit}도, 섭씨 {celcius}도 입니다.')

화씨온도를 입력하시오.: 100
화씨온도는 100도, 섭씨 37.0도 입니다.

In [ ]:
celcius = float(input("섭씨온도를 입력하시오.: "))
fahrenheit = (celcius * 1.8) + 32
print(f'섭씨온도는 {celcius}도는, 화씨 {fahrenheit}도 입니다.')

섭씨온도를 입력하시오.: 37.77777777777778
섭씨온도는 37.77777777777778도는, 화씨 100.0도 입니다.

사용자로부터 2개의 정수를 받아서 합계를 출력

In [ ]:
x = int(input("x의 값을 입력시키시오.: "))
y = int(input("y의 값을 입력시키시오.: "))
sum = x + y
print(f'합계는 {sum} 입니다.')

x의 값을 입력시키시오.: 2
y의 값을 입력시키시오.: 3
합계는 5 입니다.

부가세 계산

In [ ]:
price = int(input("상품의 가격을 입력하시오.: "))
vat = (price * 0.1)
print(f'부가세는 {vat} 입니다.')

상품의 가격을 입력하시오.: 4000
부가세는 400.0 입니다.